<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qc.wework.msg.mapper.MsgMapper">

    <resultMap type="com.qc.wework.msg.dto.MsgRoom" id="MsgRoomMap">
        <result property="roomId" column="room_id" />
<!--        <result property="history_id" column="history_id" jdbcType="INTEGER"/>-->
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="lastTime" column="last_time" jdbcType="TIMESTAMP"/>
        <result property="lastMsg" column="last_msg" jdbcType="VARCHAR"/>
<!--        <result property="content" column="content" jdbcType="LONGVARCHAR"/>-->
    </resultMap>

    <select id="listRooms" resultMap="MsgRoomMap">
        select
        r.room_id as 'room_id', substr(group_concat(DISTINCT u.uname), 1, 100) as 'name', p.msgtime as 'last_time', p.msg as 'last_msg', p.msgtype as 'msgtype'
        from chat_data_room_user r
        left join u_contact u on r.`room_user`=u.`uid`
        left join chat_data_parsed p on p.history_id=r.history_id
        group by r.room_id
        order by r.id desc , u.uname asc
    </select>

<!--    <select id="getLatestParsedIdOfMediaData" resultType="java.lang.Integer">-->
<!--        select-->
<!--        history_id-->
<!--        from chat_data_parsed-->
<!--        where extra_media=1-->
<!--        <if test="mediaTypes.size() > 0">-->
<!--            and msgtype in-->
<!--            <foreach collection="mediaTypes" item="mt" separator="," open="(" close=")">-->
<!--                #{mt}-->
<!--            </foreach>-->
<!--        </if>-->

<!--        order by history_id desc-->
<!--        limit 1-->
<!--    </select>-->

<!--    <select id="getParseChatDataItem" resultMap="MediaContentMap">-->
<!--        select-->
<!--          *-->
<!--        from chat_data_parsed-->
<!--        limit #{limit} offset #{offset}-->
<!--    </select>-->

<!--    <select id="getUnParseMediaItem" resultMap="MediaContentMap">-->
<!--        select-->
<!--        *-->
<!--        from chat_data_parsed-->
<!--        where history_id > #{historyId} and extra_media=0-->
<!--        <if test="mediaTypes.size() > 0">-->
<!--            and msgtype in-->
<!--            <foreach collection="mediaTypes" item="mt" separator="," open="(" close=")">-->
<!--                #{mt}-->
<!--            </foreach>-->
<!--        </if>-->
<!--        limit #{limit}-->
<!--    </select>-->
<!--    -->
<!--    <select id="getChatDataParsedByHistoryId" resultMap="MediaContentMap">-->
<!--        select * from chat_data_parsed-->
<!--        where history_id=#{historyId}-->
<!--    </select>-->


</mapper>